.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  height: 100vh;
  padding: 30px;
  margin: 0 auto;
  margin-top: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}

.fileInput {
  cursor: pointer;
  display: inline-block;
  padding: 10px 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  border-radius: 4px;
}

.icon {
  margin-left: 5px;
}

.submitBtn {
  padding: 10px 12px;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-top: 20px;
  background-color: #333;
  color: #fff;
  appearance: none;
  border-radius: 4px;
  border: none;
  font: inherit;
  background-color: #333;
  cursor: pointer;
  outline: none;
  font-size: 14px;
} 

.submitBtn:disabled {
  cursor: default;
  font-size: 14px;
  background-color: #fafafa;
  color: gray;
} 

.loadingSpinner {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
}

.resultContainer {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.resultContainer p {
  line-height: 22px;
  font-size: 14px;
}

.resultContainer h3 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.resultContainer button {
  margin-top: 30px;
  padding: 5px 10px;
  background: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 4px;
}

.resultContainer button:hover {
  cursor: pointer;
  background: #fafafa;
  color: #000;
  border: 1px solid #000;
}

.videoContainer {
  margin-top: 30px;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  
}

.videoBtn {
  padding: 10px 12px;
  border: none;
}

.videoBtn:hover {
  cursor: pointer;
}
.urlInput {
  border-radius:4px;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  appearance: none;
  text-align: left;
  border: none;
  background: #fafafa;
  outline: none;
}
